POSTGRES_USER=your_username
POSTGRES_PASSWORD=your_password
POSTGRES_DB=your_database
DB_HOST=your_db_host
DB_PORT=your_db_port
EXR_DATA_FILE=your_data_file
BOI_BASE_URL=your_boi_base_url
BOI_DATAFLOW=your_boi_dataflow
BOI_SERIES_CODE=your_boi_series_code
BOI_FORMAT=your_boi_format
