BACKEND_URL=your_backend_url
BOI_BASE_URL=your_boi_base_url
BOI_DATAFLOW=your_boi_dataflow
BOI_FORMAT=your_boi_format
BOI_SERIES_CODE=your_boi_series_code
DB_HOST=your_db_host
DB_PORT=your_db_port
EXR_DATA_FILE=your_data_file
POSTGRES_DB=your_database
POSTGRES_PASSWORD=your_password
POSTGRES_USER=your_username
